<nav class="navbar navbar-expand-lg w-100">
  <div class="row w-100 justify-content-between">
    <div class="col-sm-2">
      <div>
        <a class="navbar-brand" href="/">
          <img src="https://freesvg.org/img/chef-restaurant-logo-publicdomainvectors.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
          bookatab
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
    <% if (typeof user != 'undefined') { %>
      <div class="col-sm-2 pr-0">
        <div class="collapse navbar-collapse float-right" id="navbarSupportedContent">
          <div>
            <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= typeof user != 'undefined' ? user.first_name : '' %>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/reservations">Reservations</a>
                <a class="dropdown-item" href="/restaurants">My Restaurants</a>
                <a class="dropdown-item" href="/settings">Settings</a>
                <a class="dropdown-item" href="/users/signout">Sign Out</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% } else { %>
      <a href="/users/login">Login</a>
    <% } %>
  </div>
</nav>